// ****************************************************************
// _FONT
// ****************************************************************
@font-face {
    font-family: "nonchalance";
    src: url('../vendor/Nonchalance_Regular.ttf') format('truetype');
}


// ****************************************************************
// _COLORS
// ****************************************************************
$blue:#30B2E4;
$black:#000;
$grey:#221F20;

